 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
header{
    max-width: 1440px;
    margin: 50px auto 50px auto;
}
.ralweay{
    font-family: 'Raleway', sans-serif;
}
.open{
    font-family: 'Open Sans', sans-serif;
}
header nav{
    display: flex;
}
.logoWrapper{
    width: 50%;
    display: flex;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar ul {    
    display: flex;
    align-items: center;
    list-style: none;
  
}
.navbar ul li {
    padding: 0 25px 25px 0;
    font-weight: lighter;
}
main{
    width: 100%;
}
.hero{
max-width: 1440px;
margin: 0 auto 0 auto;
}
.heroWrapper{
    display:flex;
}
.heroleft,.heroright{
    width: 50%;
}
.heroright img{
    width: 100%;
}
.heroleft{
    display: flex;
    align-items: center;
}
.heroleftwrapper h1{
    font-size: 3rem;
}
.heroleftwrapper p{ 
    font-size: 1.4rem;
}
.heroinput input{
    width: 50%;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}
.heroleftwrapper a{
    color: white;
    background-color: hsl(224, 93%, 58%);
    padding: 5px 30px 5px 30px;
    margin-left: 15px;
    border-radius: 2px;
    font-weight: bold;
}
.curve img {
    width: 100%;
}
.villanwrapper{
    display: flex;
    margin-top: -5px;
    background-color: hsl(240, 75%, 98%);
}
.villanleft{
margin-left: 215px;
}
.villan{
display: flex;
margin: 0px 0px;
background-color: hsl(240, 75%, 98%);
}
.villanleftwrapper h2{
    font-size: 3rem;
    background-color: hsl(240, 75%, 98%);
}
.willanleft,.villanright{
    width: 50%;
    background-color: hsl(240, 75%, 98%);
}
.villanright img{
    width: 100%;
    margin-top: -50px;
}
.stopka{
    background-color: hsl(238, 22%, 44%);
    color: white;
    width: 100%;
    margin: 0%;
}
.stopkawrapper{
    display: flex;
    background-color: hsl(238, 22%, 44%);
}
.stopkaleft, .stopkaright{
    width: 50%;
    background-color: hsl(238, 22%, 44%);
}
.stopkaleft{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.stopkainput input{
    width: 50%;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
    margin:20px;
}
.denis{
    color: white;
    background-color: hsl(224, 93%, 58%);
    padding: 5px 30px 5px 30px;
    border-radius: 2px;
    font-weight: bold;
}
.stopkaleftwrapper h3{
    font-size: 3rem;
    background-color: hsl(238, 22%, 44%);
    padding:20px;
}
.stopkaleftwrapper p{ 
    font-size: 1.4rem;
    padding: 20px
}
.Bombowicz{
    width: 50%;
    margin-top: 50px;
    padding: 25px;
    outline: 2px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
    background-color: white;
}
.Bombowicz img{
    margin-bottom: 10px;
}
.Bombowicz .andrzej{
    display: flex;
}
.Bombowicz div img{
    width: 15%;
    border-radius: 100%;
    margin-right: 10px;
}
.Bombowicz .andrzej div{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.Bombowicz .andrzej div div{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 75%;
}
.bomba{
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: hsl(243, 87%, 12%);
    padding: 50px;
    margin-top: 0;
    max-width: 1440px;
    color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
footer .box div img{
    margin-right: 10px;
}
footer li{
    list-style-type: none;
}
@media (max-width: 375px) {
    *{
        width: 92%;
        font-size: 8px;
    }
    header{
        width: 100%;
    }
    header .prawo li{
        margin-top: -20px;
    }
    main .gora{
        width: 100%;
    }
    .curve{
        width: 375px;
    }
    main .dol{
        width: 103%;
    }
    img{
        width: 10%;
    }
    .kyle{
        width: 100%;
    }
    article .prawo button{
        width: 50%;
    }
    h1{
        line-height: normal;
    }
}