 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
html{
    display: flex;
    justify-content: center;
}
 body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 16px;
    font-weight: 400;
    max-width: 1920px;
}
header{
    max-width: 1440px;
    margin: 50px auto 50px auto;
}
.ralweay{
    font-family: 'Raleway', sans-serif;
}
.open{
    font-family: 'Open Sans', sans-serif;
}
header nav{
    display: flex;
}
.logoWrapper{
    width: 50%;
    display: flex;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar ul {    
    display: flex;
    align-items: center;
    list-style: none;
  
}
.navbar ul li {
    padding: 0 25px 25px 0;
    font-weight: lighter;
}
main{
    width: 100%;
}
.hero{
max-width: 1440px;
margin: 0 auto 0 auto;
margin-bottom: 150px;
}
.heroWrapper{
    display:flex;
}
.heroleft,.heroright{
    width: 50%;
}
.heroright img{
    width: 100%;
}
.heroleft{
    display: flex;
    align-items: center;
}
.heroleftwrapper h1{
    font-size: 3rem;
}
.heroleftwrapper p{ 
    font-size: 1.4rem;
}
.heroinput input{
    width: 50%;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}
.heroleftwrapper a{
    color: white;
    background-color: hsl(224, 93%, 58%);
    padding: 5px 30px 5px 30px;
    margin-left: 15px;
    border-radius: 2px;
    font-weight: bold;
}
.curve img {
    width: 100%;
    margin-bottom: -5px;
  
}
.villanwrapper{
    display: flex;
    margin-top: -5px;
    background-color: hsl(240, 75%, 98%);
}
.villanleft{
margin-left: 215px;
}
.villan{
display: flex;
margin: 0px 0px;
background-color: hsl(240, 75%, 98%);
}
 h2{  
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 50px;
    background-color: hsl(240, 75%, 98%);
}       
.willanleft,.villanright{
    width: 50%;
    background-color: hsl(240, 75%, 98%);
    display: flex;
}
.villanright{
    display: flex;
    margin: auto;
    padding: auto;
}
.villanright img{
    width: 100%;
    margin:-5px;
   
}
.article{
    display: flex;
    justify-content: space-between;
    background-color: hsl(238, 22%, 44%);
    padding: 50px;
    margin-top: 0;
    max-width: 1440px;
    color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.article .lewo{
    width: 35%;
}
.article .prawo{
    width: 50%;
    float: right;
}
.article .prawo input{
    width: 100%;
    padding: 10px;
}
.article .prawo button{
    margin-top: 10px;
    width: 200px;
    background-color: hsl(224, 93%, 58%);   
    color: white;
    padding: 10px;
}
button{
    color: white;
    background-color: hsl(224, 93%, 58%);
    padding: 5px 30px 5px 30px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
}
a{
    color:hsl(170, 45%, 43%);
    font-weight: bold;
    text-decoration: none;
}
.stopkaleftwrapper h3{
    font-size: 3rem;
    background-color: hsl(238, 22%, 44%);
    padding:20px;
}
.stopkaleftwrapper p{ 
    font-size: 1.4rem;
    padding: 20px
}
.Bombowicz{
    width: 50%;
    margin-top: 50px;
    padding: 25px;
    outline: 2px rgba(0, 0, 0, 0.1) solid;
    border-radius: 5px;
    background-color: white;
}
.Bombowicz img{
    margin-bottom: 10px;
}
.Bombowicz .andrzej{
    display: flex;
}
.Bombowicz div img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 16px;
}
.Bombowicz .andrzej div{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    justify-items: start;
    padding-top: 10px;
}
.Bombowicz .andrzej div div{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 75%;
    padding-top: 10px;
    justify-items: start;
    align-items: end;
}
.bomba{
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: hsl(243, 87%, 12%);
    padding: 50px;
    margin-top: 0;
    color: white;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
footer .box div img{
    margin-right: 10px;
}
footer li{
    list-style-type: none;
}
@media (max-width: 375px) {
    body{
        width: 375px;
        max-width: 375px;
    }
    h1{
        line-height: normal;
    }
    header{
        display: flex;
        margin: 1px;
        margin-left: -15px;
        width: 375px;
        min-width: 0;
    }
    .logo img{
        width: 100px;
        padding-left:5px;
        padding-top: 5px; 
    }
    main{
        max-width: 375px;
    }
    main .hero{
        display: flex;
        flex-direction: column-reverse;
        margin: 5%;
        margin-right: 0%;
        margin-top: 50px;
        min-width: 0;
        width: 350px;
        max-width: 350px;
    }
    main .hero .heroright{
        width: 100%;
        max-width: 350px;
    }
    main .hero .heroright img {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        max-width: 350px;
    }
    main .hero .heroleft{
        width: 100%;
        text-align: center;
        max-width: 350px;
    }
    main .hero .heroleft input{
        width: 325px;
    }
    main .hero .heroleft button{
        width: 350px;
        margin-left: -9px;
        margin-right: -10px;
    }
    .curve{
        min-width: 350px;
    }
    main .villan{
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        max-width: 350px;
    }
    main .villan .villanleft{
        width:  100%;
    }
    main .villan .villanleft .andrzej{
        width: 85%;
        text-align: left;
    }
    .villanleft{
        margin-left: 0;
    }
    .Bombowicz{
        width: 300px;
        margin-bottom: 50px;
    }
    .article{
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 5%;
        min-width: 0;
        width: 337px;
        max-width: 350px;
    }
    .article .lewo{
        width: 100%;
        max-width: 350px;
    }
    .article .prawo{
        width: 100%;
        max-width: 350px;
    }
    .article .prawo input{
        width: 92.5%;
    }
    .article .prawo button{
        width: 100%;
    }
    footer{
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: auto;
        min-width: 0;
        max-width: 350px;
    }   
    footer li{
        padding-bottom: 10px;
    }
    footer .box div img{
        padding-left: 40px;
    }
}